<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>About FUN</title></%block>

<section class="container about">
  <section class="vision">
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/fun/images/quad.jpg')}" alt="Stanford Quad with Hoover Tower" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>About <span class="edx">FUN</span></h2>

        <p>TBD</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    <section class="message left" id="faq">
      <div class="photo">
        <img src="${static.url('themes/fun/images/memchu.jpg')}" alt="Stanford Memorial Church Facade" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>FAQs</h2>
        <p><strong>Question?</strong><br />
        TBD</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/fun/images/dish.jpg')}" alt="Stanford Dish by Twilight" />
          <!-- Image Copyright owned by Stanford University -->
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>Contact Information</h2>
        <p><strong>For general information email us at:</strong><br />
        <a href="mailto:contact@example.com">contact@example.com</a></p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
