<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Copyrights</title></%block>

<section class="static-container tos">
  <h1>Copyrights</h1>
  <hr class="horizontal-divider">

  <div class="inner-wrapper">
    <h2>Photographies</h2>

    <table class="copyrights-images">
      <thead>
        <tr>
          <th>${_("Rubric")}</th>
          <th>${_("Copyright")}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>${_("What is FUN")}</td>
          <td>Prisme / Pierre Jayet</td>
        </tr>
        <tr>
        <td>{_("Subscribe now")}</td>
          <td>Prisme / Pierre Jayet</td>
        </tr>
        <tr>
          <td>${_("Log in")}</td>
          <td>Prisme / Pierre Jayet</td>
        </tr>
        <tr>
          <td>{_("Help")}</td>
          <td>MESR / PICTURETANK</td>
        </tr>
        <tr>
          <td>${_("Universities")}</td>
          <td>paris8</td>
        </tr>
        <tr>
          <td>MOOC Lutter contre les maladies émergentes infectieuses</td>
          <td><a href="http://commons.wikimedia.org/wiki/File:Mosquito_GSACS.jpg" target="_blank">http://commons.wikimedia.org/wiki/File:Mosquito_GSACS.jpg</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</section>
