<%inherit file="../courses.html" />

<%block name="title"><title>Université Michel de Montaigne Bordeaux 3</title></%block>

<%block name="university_description">
  <p>Située au cœur d’un territoire connu internationalement pour son patrimoine et son art de vivre, l’université Michel de Montaigne Bordeaux 3 se trouve sur l’un des plus vastes campus d’Europe. Fidèle à l’esprit de Michel de Montaigne, elle entend contribuer à former des citoyens du monde.</p>
  <p>L’université Michel de Montaigne Bordeaux 3 propose une offre de formation diversifiée, donnant accès à des connaissances relevant des domaines des arts, lettres, langues, sciences humaines et sociales. Ces formations s’adaptent sans cesse pour répondre à un défi socio-économique fort : la mise en synergie des savoirs académiques, des savoirs professionnels et des attentes du monde économique. </p>
  <p>L'activité scientifique dans des domaines d'investigation essentiels pour la société contemporaine, contribue à enrichir les enseignements et à inscrire l'université dans son temps.</p>

  <p>L’université Michel de Montaigne Bordeaux 3 s’est positionnée de longue date sur le terrain de la formation à distance, proposant depuis de nombreuses années de multiples diplômes dans ce format. En partenariat avec l’Université Numérique d’Aquitaine, elle investit également dans le domaine du numérique et des plateformes d’enseignements, co-organisant notamment le Moodle Moöt 2013.</p>
  <p>La question des MOOC s’est donc posée tout naturellement après l’explosion du phénomène dans le cours de l’année 2012 et il est clairement apparu que l’université se devait d’investir ce nouveau mode de diffusion des savoirs, s’appuyant une nouvelle fois sur le soutien de l’Université Numérique d’Aquitaine.</p>
</%block>


