<%inherit file="../courses.html" />

<%block name="title"><title>Ecole Centrale Paris</title></%block>
<%block name="university_name"><h1>Ecole Centrale Paris</h1></%block>

<%block name="university_description">
  <p>Depuis sa création en 1829, Centrale Paris poursuit la même vocation : former les leaders de culture scientifique, des entrepreneurs et innovateurs capables de relever les grands défis de leur temps. Au fil des ans et des époques, le monde n’a cessé d’évoluer et de se transformer, mais l’École a toujours su rester à la pointe de la formation, grâce, notamment, à une forte tradition d’excellence alliée à un esprit résolument avant-gardiste.</p>

  <p>Cette « marque de fabrique» lui a permis d’entrer dans le XXIe en renforçant sa position de leader, avec notamment un projet pédagogique innovant destiné à former les ingénieurs dont le monde a aujourd’hui besoin : des généralistes de haut niveau scientifique et technique, de forte culture internationale, rompus au monde professionnel et aux grands enjeux économiques,  environnementaux et sociaux de l’époque.</p>
 
  <p>Centrale Paris participe activement à l’émergence du e-learning en France à travers une politique digitale d’envergure : outils interactifs, environnement numérique, nouveaux supports d’enseignement. Le lancement de son Digital Institute en juin 2013 a été la première pierre fondant son projet d’école numérique de référence internationale.</p>

  <p>En participant, aux côtés d’un réseau mondial de prestigieuses universités, au développement de l’offre de cours en libre accès pour tous, Centrale Paris entend promouvoir le modèle éducatif français et les innovations pédagogiques qu’elle développe. Elle confirme sa dynamique d’école numérique, affirmant son leadership dans le domaine des nouvelles technologies de la pédagogie innovante.</p>
</%block>


