<%inherit file="../courses.html" />

<%block name="title"><title>Cnam</title></%block>
<%block name="university_name"><h1>Cnam</h1></%block>

<%block name="university_description">
  <p>Le Conservatoire national des arts et métiers est un grand établissement d’enseignement supérieur dédié à la formation tout au long de la vie.
Créé par la Convention en 1794 sur proposition de l’abbé Henri Grégoire «pour perfectionner l’industrie nationale»,  le Cnam est aujourd’hui un établissement public à caractère scientifique, culturel et professionnel, doté du statut de grand établissement.</p>
<p>L’établissement public, ses 28 centres régionaux et ses 150 centres d’enseignement accueillent chaque année près de 100 000 élèves (salariés, demandeurs d’emploi, travailleurs indépendants), qui viennent au Cnam pour actualiser leurs connaissances, perfectionner leurs compétences, ou acquérir un diplôme, du niveau bac jusqu’aux diplômes de 3e cycle et d’ingénieur.</p>

  <p>Pour répondre aux attentes de ses publics, le Cnam se donne pour objectif de proposer 70% de son offre de formation au format numérique, permettant de déployer des modes d’apprentissage pluriels (présentiel, hybride, à distance) et d’assurer l’accessibilité de son offre à tous, partout et à tout moment.</p>
  <p>En complément de cet objectif le Cnam a inscrit dans son schéma directeur le développement de cours massifs, ouverts et en ligne (MOOC), pour le public francophone, qui viendra, sous des formes différentes, compléter son offre de formation diplômante. 
Les premiers cours dans les domaines du management, de la santé, de l’informatique et des mathématiques sont déjà en production.</p>
</%block>


