<%inherit file="../courses.html" />

<%block name="title"><title>ENS Cachan</title></%block>

<%block name="university_description">

  <p>L’Ecole normale supérieure de Cachan</p>

  <p>Une grande école pluridisciplinaire ouverte sur le monde.</p>

  <p>Inscrite dans la tradition d’excellence des écoles normales supérieures, l’ENS Cachan offre une formation culturelle et scientifique de très haut niveau. Elle prépare ses élèves à mener une carrière dans l’enseignement supérieur et la recherche, la haute administration et les entreprises.
  </p>

  <p>L’ENS Cachan dispense, par un suivi personnalisé de ses élèves normaliens et étudiants, une formation à et par la recherche, mêlant théorie et applications et favorisant l’interdisciplinarité. Les 3 instituts fédératifs de recherche, chacun dans leurs domaines scientifiques,  interagissent avec les 13 laboratoires de recherche et les 12 départements d'enseignement pour offrir à chacun la possibilité de construire son parcours et d'exprimer ses talents. </p>

  <p>La singularité de l’École normale supérieure de Cachan est de rassembler des disciplines qu’aucun autre établissement d’enseignement supérieur ne rassemble de cette manière et à ce niveau : des sciences fondamentales (mathématiques, informatique, physique, chimie, biologie), des sciences humaines et sociales (économie, gestion, sociologie, histoire, langues, didactique), des sciences pour l’ingénieur (génie civil, génie mécanique, productique, électrotechnique et automatisme), et aussi une discipline émergente, le design.</p>

  <p>En raison de sa mission de formation des futurs enseignants du supérieur, la question de l’innovation pédagogique a toujours été un enjeu important pour l’ENS Cachan. L’un des sujets majeurs pour les établissements d’enseignement supérieur est lié à la part croissante du numérique dans notre société, qui conduit à l’essor de nouvelles pratiques pédagogiques. L’école s’est déjà dotée il y a plusieurs années d’une plateforme d’e-learning, elle a logiquement fait le choix de développer des cours de type MOOC.</p>

  <p>L’ENS Cachan prévoit d’élargir progressivement son offre éditoriale, en la fondant sur les disciplines et le savoir-faire pédagogique qui font sa spécificité et sa réputation.</p>

  <p>Contribuer à la diffusion de savoirs alliant connaissances fondamentales et applications, destinées en priorité à des étudiants en formation initiale mais également aux enseignants et aux cadres des entreprises s’inscrit dans nos objectifs.</p>


</%block>
