<%inherit file="../courses.html" />

<%block name="title"><title>Groupe INSA</title></%block>

<%block name="university_description">
  <p>Le groupe INSA - Lyon, Rennes, Rouen, Strasbourg, Toulouse et Centre Val de Loire - est le 1er groupe français d’écoles publiques d’ingénieur. 10 % des ingénieurs diplômés en France sortent des six INSA chaque année. Près de 100 % des diplômés sont embauchés en moins de trois mois.</p>
  <p>Expert dans son domaine de spécialisation, l'ingénieur INSA s'appuie sur de solides connaissances de base tant scientifiques que technologiques. Destiné à encadrer et à animer des groupes d'individus, il doit disposer d'un excellent bagage en sciences humaines et sociales.</p>
  <p>Le recrutement se fait majoritairement au niveau du baccalauréat (70%). D'autres possibilités d'intégrer les INSA existent au cours du cursus à partir d'autres établissements d'enseignement supérieur français ou étrangers.</p>
  <p>Le groupe INSA a la volonté d'augmenter l'efficience des processus de formation en prenant notamment en compte les besoins de publics diversifiés tels que les sportifs de haut niveau, les étudiants étrangers, les étudiants handicapés, les stagiaires de FC, mais aussi - et ils sont nombreux - tous les étudiants qui souhaitent apprendre autrement, à leur rythme, avec plus d'autonomie.</p>
  <p>Les TICE ne sont bien sûr qu'un des outils au service de cette vision. Leur usage est également l'occasion pour tous ces apprenants de développer de nouvelles compétences en relation avec leur travail futur.</p>
</%block>


