<%inherit file="../courses.html" />

<%block name="title"><title>Institut Mines-Télécom</title></%block>

<%block name="university_description">
  <p>L'Institut Mines-Télécom est un acteur majeur public de l’enseignement supérieur, de la recherche et de l'innovation dans les domaines de l'ingénierie et du management.</p>
  <p>Il est composé de 10 grandes écoles Mines et Télécom sous tutelle du ministre du redressement productif (Mines Albi, Mines Alès, Mines Douai, Mines Nantes, Mines ParisTech, Mines Saint-Etienne, Télécom Bretagne, Télécom École de Management, Télécom ParisTech, Télécom SudParis) et de deux écoles filiales (Télécom Lille et Eurecom). Il entretient des relations privilégiées avec deux partenaires stratégiques, Mines Nancy, composante de l’Université de Lorraine, et Armines.</p>
  <p>L’Institut Mines-Télécom est en pointe en matière d’innovation pédagogique. Premier groupe d’écoles d’ingénieur en France, il diplôme chaque année 8% des ingénieurs.</p>

  <p>Les cours en ligne ouverts à tous participent d’un mouvement de création et d’animation de communautés pour la formation initiale et tout au long de la vie. L’Institut Mines-Télécom contribuera à ce mouvement et y impliquera l’ensemble de ses parties prenantes : enseignants-chercheurs, étudiants et futurs étudiants, diplômés, entreprises et de la manière la plus générale tous les apprenants intéressés par les domaines de spécialité de l’Institut.</p>

</%block>


