<%inherit file="../courses.html" />

<%block name="title"><title>Université Montpellier 2</title></%block>
<%block name="university_name"><h1>Université<br />Montpellier 2</h1></%block>

<%block name="university_description">
  <p>Riche de son passé et de son patrimoine, l'Université Montpellier 2 est une université de recherche intensive dont les activités couvrent des champs scientifiques et technologiques étendus : biologie pour la santé et l’agronomie, biodiversité et écologie, évolution et environnement, chimie, terre et eau, sciences de l’ingénieur, physique, mathématiques et informatique, gestion et sciences de l’éducation. Elle compte 8 composantes : Faculté des Sciences, Faculté d’Education, Polytech'Montpellier, IUT de Montpellier-Sète, IUT de Nîmes, IUT de Béziers, Institut d'Administration des Entreprises et OSU OREME. Elle accueille près de 17 000 étudiants de 115 nationalités. Fortement active en recherche, elle comprend 47 laboratoires et structures ; et 6 écoles doctorales.</p>

  <p>L’Université Montpellier 2 développe les usages du numérique au service de la formation depuis de nombreuses années. Elle a créé en 2011 sa WebTV qui offre à présent plus de 1000 vidéos. Elle se lance aujourd’hui dans l’expérience des MOOCs dans un esprit d’innovation pédagogique afin d’assurer une meilleure diffusion des savoirs et accompagner la construction des connaissances pour le plus grand nombre. Un objectif est également de profiter du développement des ressources en ligne pour enrichir les enseignements en présence et favoriser la réussite des étudiants inscrits à l’Université. Enfin, les MOOCs constituent un outil pour le rayonnement international et l’attractivité des formations.</p>
</%block>


