<%inherit file="../courses.html" />

<%block name="title"><title>Université Paris 1 Panthéon-Sorbonne</title></%block>

<%block name="university_description">
  <p>Héritière de 800 ans d’histoire, l’université Paris 1 Panthéon-Sorbonne partage son prestige séculaire avec les plus anciennes universités au monde : Oxford et Bologne. L’établissement répond aujourd’hui aux attentes qu’il fait naître en offrant des formations de haut niveau à un vaste public. Près de 42000 étudiants (dont 3500 doctorants) sont ainsi formés dans le domaine des Humanités. 22000 d’entre eux sont diplômés chaque année.</p>

  <p>Structurée autour de 3 grands domaines disciplinaires que sont :
  les Sciences économiques et de gestion, mathématiques et informatiques appliquées,
  les Sciences juridiques et politique,
  les Sciences humaines et sociales et Arts,
  l’université Paris 1 Panthéon-Sorbonne compte 14 Unités de Formation et de Recherche, 37 laboratoires de recherche et 13 écoles doctorales dans lesquels sont répartis les 2000 chercheurs et enseignants-chercheurs.</p>

  <p>Ouverte au monde et partie prenante de nombreux échanges avec des universités étrangères de premier plan, l’université Paris 1 Panthéon-Sorbonne dispose d’une influence forte et grandissante. Elle compte 350 partenaires dans 65 pays et accueille 8000 étudiants étrangers.</p>

  <p>Engagée dans une trajectoire numérique depuis de nombreuses années, l’université Paris 1 Panthéon-Sorbonne s’est tout naturellement mobilisée dans cette nouvelle forme de pédagogie que sont les MOOCs et qui répondent à des formats d’apprentissage novateurs et prisés par les étudiants comme les publics candidats à la formation tout au long de la vie.</p>

  <p>À l’ère du numérique, les MOOCs symbolisent l’avènement d’une nouvelle forme de pédagogie et apparaissent comme la consécration de la transformation de l’enseignement par le digital.</p>
</%block>
