<%inherit file="../courses.html" />

<%block name="title"><title>Université Paris Ouest Nanterre La Défense</title></%block>

<%block name="university_description">
  <p>L'université Paris Ouest Nanterre La Défense a toujours été pionnière dans le domaine de l'enseignement à distance, tout d'abord sur des supports papiers, puis en audio, puis au travers de plate-forme d'enseignement en ligne et enfin via les cours scénarisés et enregistrés.</p>

  <p>Plus de 2000 étudiants suivent un cursus entièrement à distance dans cette université avec une offre de formation en master ou en préparation de concours. 17000 étudiants fréquentent régulièrement les plateformes d'enseignement en ligne  et leurs espaces numériques préparés pour eux par environ 600 enseignants dans le cadre de cours présentiels avec accès à des vidéos. A cet égard, la mutation numérique est conçue comme un levier pour l'innovation pédagogique.</p>

  <p>Mais l'université Paris Ouest Nanterre la Défense ne peut pas se développer sans une collaboration avec d’autres universités. Elle est l'établissement porteur de l'université thématique AUNEGE et elle participe activement à l'université numérique régionale et à son projet de Cloud interuniversitaire.</p>

  <p>Des réflexions sont également menées pour faire de la CUE qu’elle forme notamment avec l’Université Paris 8 un centre de l’innovation pédagogique par le numérique, raison de son engagement dans le projet de MOOC, qui correspond tant à son savoir faire qu’à sa philosophie, soit celle d’une université ouverte sur son environnement, sur le monde et préoccupée de son rôle pour la société. En s’appuyant sur ses points forts que sont les SHS, point de départ de son engagement dans les MOOC,  cette université s’appuie sur l’ensemble de ses ressources dont la BDIC. Avec celle-ci, l'Université dispose d'une des plus riches bibliothèques numériques de l'enseignement supérieur utilisée et valorisée en ligne. Par l’accès gratuit et massif aux connaissances pour des publics nouveaux, les MOOC participent ainsi de ses missions.</p>
</%block>


