<%inherit file="../courses.html" />

<%block name="title"><title>Université Paris Sud</title></%block>

<%block name="university_description">
  <p>L'Université Paris-Sud est l'une des plus prestigieuses universités en Europe sur le plan de la recherche. Classée parmi les premiers établissements d'enseignement supérieur français et 39e mondial au classement de Shangha 2013, elle est un acteur majeur de la création de l’Université Paris-Saclay qui devrait voir le jour en 2014. Pluridisciplinaire et à forte dominante scientifique et de santé, l'excellence de sa recherche est marquée par de nombreux prix internationaux, notamment dans le domaine des mathématiques (quatre médailles Fields entre 1994 et 2010) et de la physique (trois prix Nobel).</p>

  <p>L’Université Paris-Sud est constituée de 5 Unités de Formation et de Recherche (UFR), de 3 Instituts Universitaires de Technologie (IUT) et d’une école d’ingénieurs (Polytech Paris-Sud). Elle rassemble plus de 100 laboratoires reconnus internationalement.</p>

  <p>L’université Paris-Sud a développé ses services numériques au sein du campus numérique UNPIdF qui associe des universités de Paris et d’Île-de-France, des écoles, une bibliothèque, un PRES, et trois CROUS. Ses services développent les infrastructures, les outils et services, et la formation et l'accompagnement des usagers. L’université Paris-Sud participe également à deux campus numériques thématiques (UNT) : AUNEGE (Économie-Gestion) et UNISCIEL (Sciences). 
Au cœur du schéma directeur numérique la collaboration entre le service de pédagogie numérique et la direction informatique a permis d'élargir les publics vers ces nouvelles pratiques, et notamment à l'international avec les MOOCs.</p>
</%block>
