<%inherit file="../courses.html" />

<%block name="title"><title>Université Paris Ouest Nanterre La Défense</title></%block>
<%block name="university_name"><h1>Université Paris Ouest Nanterre La Défense</h1></%block>

<%block name="university_description">
  <p>L’Université Paris Ouest Nanterre La Défense a toujours été pionnière dans le domaine de l'enseignement à distance, tout d’abord sur des supports papiers, puis en audio et enfin en vidéo, avant l’avènement des réseaux.</p>
  <p>La filière est en constante progression tant en termes de types d’offre de formation que de nombre d’inscriptions, qui atteint aujourd’hui 4000 étudiants. Toutes ces avancées se sont accompagnées de réflexions sur les manières d’enseigner autrement. A cet égard, la mutation numérique est conçue comme un levier pour l’innovation pédagogique. Déjà les tableaux numériques sont de plus en plus utilisés dans des cours en présentiel. Plus généralement, les enseignants sont invités à mettre à disposition le maximum d’informations concernant leur cours sur les sites dédiés aux formations.</p>
  <p>Mais l’Université Paris Ouest Nanterre La Défense ne conçoit pas son développement dans ce domaine sans une collaboration avec les autres universités : ainsi, elle est l’établissement porteur de l’université thématique AUNEGE et elle participe activement à l’université numérique régionale d’Ile-de-France et à son cloud.</p>

  <p>Des réflexions sont également menées pour faire de la communauté d’universités et d’établissements qu’elle forme notamment avec l’Université Paris 8 un centre de l’innovation pédagogique par le numérique. C’est dans ce cadre qu’elle s’engage dans le projet de MOOC, qui correspond parfaitement tant à son savoir-faire qu’à sa philosophie, soit celle d’une université ouverte sur son environnement et sur le monde et préoccupée de son rôle pour la société. Par l’accès gratuit et massif aux connaissances pour des publics nouveaux, les MOOCs participent ainsi de cette mission de diffusion de culture et de partage des savoirs.</p>
</%block>


