<%inherit file="../courses.html" />

<%block name="title"><title>Université Panthéon-Assas (Paris 2)</title></%block>
<%block name="university_name"><h1>Université<br />Panthéon-Assas (Paris 2)</h1></%block>

<%block name="university_description">
  <p>Héritière de l’ancienne Faculté de droit de Paris et première université juridique française, l’université Panthéon-Assas, forte du soutien de ses 270 professeurs et maîtres de conférences, 1790 intervenants extérieurs, garantit à ses 17000 étudiants la qualité de l’enseignement et de la recherche en droit, en synergie avec les sciences économiques, les sciences de gestion et les sciences de l’information-communication. En proposant 22 Licences et 100 Masters en formation initiale et continue ainsi qu’en apprentissage, en développant des coopérations internationales avec 165 universités dans 48 pays, en valorisant la diffusion de la production scientifique de ses 5 écoles doctorales et 23 centres de recherche et en participant à la construction d’un espace européen de la connaissance et du numérique, l’université Panthéon-Assas demeure plus que jamais attentive à remplir sa mission de service public.</p>

  <p>L’enseignement numérique représente un atout important par le potentiel d’innovation qu’il apporte aux pratiques pédagogiques, notamment grâce aux potentialités des MOOC.  C’est pourquoi l’université Panthéon-Assas souhaite proposer des cursus et des certifications qui pourront être valorisés auprès d’un employeur ou à travers la formation tout au long de la vie. L’enjeu est d’importance pour l’université Panthéon-Assas, qui garantit la qualité des cours et des diplômes, et répond ainsi aux demandes nouvelles de formation et de diffusion des connaissances.</p>
</%block>


