<%inherit file="../courses.html" />

<%block name="title"><title>École polytechnique</title></%block>
<%block name="university_name"><h1>École polytechnique</h1></%block>

<%block name="university_description">
  <p>L’École polytechnique est un établissement d’enseignement supérieur et de recherche unique par son ambition et ses valeurs. Largement internationalisée (30% de ses étudiants, 18% de son corps d’enseignants-chercheurs), l’École polytechnique forme des femmes et des hommes responsables, capables de mener des activités complexes et innovantes, pour répondre aux défis de la société du XXIe siècle.</p>

  <p>Son modèle original pluridisciplinaire, basé sur les sciences et l’ingénierie, assure une forte intégration entre ses trois cycles de formation (ingénieur, master et doctorat) et son centre de recherche. Le centre de recherche rassemble 20 laboratoires, tous unités mixtes de recherche avec le CNRS, dans 8 disciplines scientifiques majeures : biologie, chimie, informatique, économie, mathématiques, mathématiques appliquées, mécanique et physique.</p>
   
  <p>Les MOOCs correspondent au rythme de vie des salariés qui souhaitent découvrir ou approfondir un thème ou une discipline. Véritable mouvement de fond dont l'École polytechnique se devait d’être un acteur, il est très motivant de pouvoir proposer les cours de l’École polytechnique à un public plus large et notamment francophone.</p>

  <p>Les MOOCs constituent un outil complémentaire au service de l’enseignement. L’avènement des MOOCs va accélérer l’introduction de méthodes pédagogiques innovantes au sein des établissements d’enseignement supérieur. Les outils développés autour des MOOCs sont considérés par l’École polytechnique comme des opportunités formidables d’améliorer l’enseignement.</p>
</%block>


