<%inherit file="../courses.html" />

<%block name="title"><title>Sciences Po</title></%block>
<%block name="university_name"><h1>Sciences Po</h1></%block>

<%block name="university_description">
  <p>Sciences Po est une institution d’enseignement supérieur et de recherche en sciences humaines et sociales qui consacre 35% de son budget à la recherche.</p>
  <p>Fondée en 1871, elle forme depuis 140 ans les responsables de demain, dans le secteur privé comme dans la haute administration, la politique et la recherche.</p>

  <p>Sciences Po se caractérise par une internationalisation poussée : sur les 12 000 étudiants que compte l’établissement, 46% sont des étudiants internationaux et viennent de plus de 150 pays. Sciences Po investit dans la responsabilité sociale et fait de la diversité sociale et culturelle une composante structurante de son identité. 27 % des étudiants éligibles sont boursiers à Sciences Po. Ils étaient 6% en l’an 2000.</p>
  <p>Sciences Po contribue au débat public par sa recherche et par la variété des débats et conférences qui y sont organisés chaque année.</p>

  <p>Depuis une dizaine d’années, Sciences Po s’emploie à intégrer les outils numériques à ses enseignements (espaces de travail partagés, eCours, Moodle, Cartothèque en ligne, cartographie des controverses, projet Forccast etc.) et s’est donc naturellement intéressé au format proposé par les MOOCs et aux nouvelles possibilités offertes en matière d’innovation pédagogique.</p>
  <p>Une expérimentation est ainsi lancée sur deux cours pilotes - Espace mondial de Bertrand Badie et Humanités scientifiques de Bruno Latour - présentant l’intérêt commun d’être des projets pédagogiques ambitieux et innovants, aux contenus transdisciplinaires et originaux, sans prérequis.</p>
</%block>


