<%inherit file="../courses.html" />

<%block name="title"><title>Sorbonne Paris Cité</title></%block>
<%block name="university_name"><h1>Sorbonne Paris Cité</h1></%block>

<%block name="university_description">
  <p>Sorbonne Paris Cité est un Etablissement Public à Caractère Scientifique, Culturel et Professionnel (EPSCP) créé par décret du 10 février 2010. Il regroupe quatre universités (Sorbonne Nouvelle, Paris Descartes, Paris Diderot et Paris 13) et quatre établissements (Sciences Po, l'EHESP, l'INALCO et l'IPGP). Ces établissements renommés ont décidé d’unir leurs forces pour créer ensemble d’ici 2016 une nouvelle université unifiée. 
Sorbonne Paris Cité a une double ambition. D’une part, une ambition scientifique en devenant un opérateur de recherche, capable de définir (en partenariat avec les organismes) et de mettre en œuvre une politique scientifique reposant sur la double dimension internationale et interdisciplinaire ; d’autre part, une ambition pédagogique, au service de la réussite des étudiants et de leur insertion professionnelle, en développant des formes innovantes de pédagogie.</p>

  <p>Considérant l’importance de se positionner sur l’accompagnement des enseignants et des chercheurs en matière de numérique et de pédagogie, le bureau de Sorbonne Paris Cité a souhaité la création d’un Service d’Accompagnement aux Pédagogies Innovantes et à l’Enseignement Numérique Sorbonne Paris Cité (SAPIENS). La désignation d’un chef  de projet pour la mise en œuvre de ce service à horizon janvier 2014 a été faite par le président de Sorbonne Paris Cité, Jean-François Girard, et le président référent, Vincent Berger. Le Mooc Virchow-Villermé en santé publique, nommé d’après le centre franco-allemand créé par Sorbonne Paris Cité et la Charité-Universitätsmedizin en partenariat avec l’INRIA, est un premier dispositif pédagogique pilote pour Sorbonne Paris Cité.</p>
</%block>


