<%inherit file="../courses.html" />

<%block name="title"><title>UPMC Sorbonne Universités</title></%block>

<%block name="university_description">

  <p>L’UPMC est l’héritière directe de la faculté des sciences de la Sorbonne. Elle est leader en France en sciences et en médecine et couvre un large éventail de disciplines (chimie, électronique, informatique, mathématiques, mécanique, physique, sciences de la terre et de l’environnement, sciences de la vie et médecine).</p>

  <p>Elle fait partie de Sorbonne Universités avec ses partenaires que sont le Muséum national d’histoire naturelle, l’université Paris-Sorbonne (Paris 4), l’Insead, l’UTC (Université de technologie de Compiègne), le CNRS, l’Inserm et l’IRD.</p>

  <p>Chiffres clés de l’UPMC:
  <ul>
      <li>33 000 étudiants dont 6 900 étrangers</li>
      <li>10 500 personnels dont 8200 dans les unités de recherche</li>
      <li>100 laboratoires de recherche</li>
      <li>6 principaux centres hospitaliers universitaires (CHU)</li>
      <li>7 300 publications par an (environ 11% de la publication en France)</li>
  </ul>
  </p>

  <p>Encouragée par son partenariat au sein de Sorbonne Universités, l’UPMC propose des parcours multidisciplinaires à ses étudiants et des cours d’approfondissement aux plus passionnés. Le numérique aide à offrir ces cours dans des emplois du temps contraints, sous des formats nouveaux, où l’innovation et l’inventivité des équipes pédagogiques jouent un grand rôle.</p>

  <p>Pour l’UPMC, les MOOCs sont d’abord envisagés comme un outil d’innovation pédagogique à l’usage de ses étudiants et de ceux de Sorbonne Universités. Un public plus large peut en profiter à travers la plateforme FUN.</p>

  <p>Ils sont dérivés très directement des formations proposées dans le cadre universitaire et montrent l’intérêt de l’enseignement constamment irrigué par la recherche que proposent les universités.</p>
</%block>
