{% extends "base_password_reset.html" %}
{% load i18n %}
{% load compressed %}
{% load staticfiles %}

  {% block title %}{% trans "Your Password Reset is Complete" %}{% endblock %}


  {% block introduction %}
      <header>
        <h1>{% trans "Your Password Reset is Complete" %}</h1>
      </header>
  {% endblock %}



  {% block content %}
   <div role="main" class="content">
      {% blocktrans with link_start='<a href="/login">' link_end='</a>' %}
      Your password has been set.  You may go ahead and {{ link_start }}log in{{ link_end }} now.
      {% endblocktrans %}
   </div>
  {% endblock %}

