<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%! from universities.models import University %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>
<%! from microsite_configuration import microsite %>

<section class="find-courses">

  <section class="container">
    <section class="courses">
      <a name="courses-list"></a>
      <select class="university-filter">
        <option value="">${_('Filter by university')}</option>
        % for university in University.objects.filter(featured=True):
        <option value="${ university.code }" data-url="${ university.get_absolute_url() }">${ university.name }</option>
        % endfor
        <option value="other">${_('Others')}</option>
      </select>

      <ul class="courses-listing">
        %for course in courses:
        <li class="courses-listing-item">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </section>
  </section>
</section>

<%block name="js_extra">
    <script type="text/javascript">
      $(document).ready(function(){
        $('.university-filter').change(function() {
          var university = $('.university-filter').val();
          window.location.href = $('.university-filter option:selected').data('url') + '#courses-list';
        });
      });
    </script>
</%block>
