<%! from django.utils.translation import ugettext as _ %>
<%!
  from django.utils import timezone
  from django.utils.formats import date_format
  from courses.views import registration_datetime_text
  from django.core.urlresolvers import reverse
  from urllib import quote_plus
  from courseware.courses import get_course_about_section
  from courseware.access import has_access
  from courses.views import get_dmcloud_url, course_image_url
  from universities.models import University

%>
<%namespace name='static' file='../static_content.html'/>

<%inherit file="../main.html" />

<%block name="headextra">
  <%include file="../theme-google-analytics.html" />
</%block>

<%block name="js_extra">

  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    ## making the conditional around this entire JS block for sanity
    %if settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        location.href = "${reverse('dashboard')}";
      } else if (xhr.status == 403) {
        location.href = "${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}?course_id=${course.id.to_deprecated_string()}&enrollment_action=enroll";
      } else if (xhr.status == 400) { //This means the user did not have permission
        $('#register_error').html('This course has restricted enrollment.  Sorry, you do not have permission to enroll.<br />' +
                                  'You may need to log out and re-login with a university account, such as WebAuth'
        ).css("display", "block");
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : 'An error occurred. Please try again later.')
        ).css("display", "block");
      }
    });

    %else:

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard')}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
        location.href = "${reverse('register_user')}?course_id=${course.id.to_deprecated_string()}&enrollment_action=enroll";
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : 'An error occurred. Please try again later.')
        ).css("display", "block");
      }
    });

    %endif

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
</%block>

<style>
  .important-dates{
     font-size : 15px;
  }
</style>

<%block name="title">
<title>${_("About {course_name}").format(course_name=get_course_about_section(course, "title")) | h}</title>
</%block>

<section class="course-info">

    <header class="course-profile" style="background-image: url('${course_image_url(course, image_name='pano_image.jpg')}');">
        <div class="intro-inner-wrapper">
            <div class="table">
                <section class="intro">
                <hgroup>
                    <h1>${get_course_about_section(course, "title")}</h1>
                </hgroup>
                <div class="main-cta">
                    %if user.is_authenticated() and registered:
                        <span class="register disabled">${_("You are registered") | h}</span>
                        %if show_courseware_link and course.has_started():
                        <a href="${course_target}">
                        %endif
                        %if show_courseware_link and course.has_started():
                        <strong>${_("View Courseware")}</strong></a>
                        %endif
                    %else:
                        %if not can_enroll:
                            <span class="course-ended register disabled">${_("Enrollment to this course is ended") | h}</span>
                        %else:
                            <a href="#" class="register">${_("Register for {}").format(get_course_about_section(course, "title"))}</a>
                            <div id="register_error"></div>
                            <div style="clear: both" class="register-license">${_("I hereby accept the following <a href=\"/licenses\">terms and conditions</a>")}</div>
                        %endif
                    %endif
                </div>
                </section>
                <div class="media">
                    <div class="hero">
                        <%
                         try:
                             university = University.objects.get(code=course.org)
                         except University.DoesNotExist:
                             university = None
                        %>
                        %if university and university.logo:
                            <img src="${ university.logo.url }" />
                        %endif
                    </div>
                </div>
                %if get_course_about_section(course, "video"):
                    <a href="#video-modal" class="media" rel="leanModal">
                        <div class="hero">
                            <img src="${course_image_url(course)}" />
                            <div class="play-intro"></div>
                        </div>
                    </a>
                %else:
                    <div class="media">
                        <div class="hero"><img src="${course_image_url(course)}" /></div>
                    </div>
                %endif
            </div>
        </div>
    </header>


    <section class="container">
        <section class="details">
            <nav>
                <a href="#" class="active">${_("Overview")}</a>
                ##  <a href="#">${_("FAQ")}</a>
                ##  <a href="#">${_("Requirements")}</a>
                ##  <a href="#">${_("Text-book")}</a>
                ##  <a href="#">${_("Syllabus")}</a>
                ##  <a href="#">${_("Reviews")}</a>
            </nav>
            <div class="inner-wrapper">${get_course_about_section(course, "overview")}</div>
        </section>

        <section class="course-sidebar">
            % if get_course_about_section(course, "video"):
                <section class="video-teaser">
                    <div class="video-header">${_("View the course presentation video")}</div>
                    <a href="#video-modal" class="media" rel="leanModal">
                        <div class="hero">
                            <img src="${course_image_url(course, image_name='video_image.jpg')}" />
                            <div class="play-intro"></div>
                        </div>
                    </a>
                </section>
            % endif
            <section class="course-summary">
                <header>
                    <div class="social-sharing">
                        <div class="sharing-message">${_("Share with friends and family!")}</div>
                        ## TODO: this should probably be an overrideable block,
                        ##       or something allowing themes to do whatever they
                        ##       want here (and on this whole page, really).
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.france-universite-numerique-mooc.fr${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="share">
                            <img src="${static.url('images/social/facebook-sharing.png')}" target="_blank">
                        </a>
                        <a href="http://twitter.com/intent/tweet?text=Je+viens+de+m%27inscrire+au+cours+${get_course_about_section(course, 'title')}+sur+@universite_num+:+http://www.france-universite-numerique-mooc.fr${reverse('about_course', args=[course.id.to_deprecated_string()])}+%23funmooc" class="share" target="_blank">
                            <img src="${static.url('images/social/twitter-sharing.png')}">
                        </a>
                        <a href="mailto:?subject=Suivre%20un%20cours%20sur%20FUN&body=Je%20viens%20de%20m%E2%80%99inscrire%20au%20cours%20${get_course_about_section(course, 'title')}%20sur%20FUN%20:+http://www.france-universite-numerique-mooc.fr${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="share" target="_blank">
                            <img src="${static.url('images/social/email-sharing.png')}">
                        </a>
                    </div>
                </header>
                <ol class="important-dates">
                    % if course.enrollment_end:
                        % if course.enrollment_end < timezone.now():
                        <li class="important-dates-item">
                            <i class="icon icon-calendar"></i>
                            <p class="important-dates-item-title">${_("Enrollment")}</p>
                            <span class="important-dates-item-text start-date">${_("Closed")}</p>
                        </li>
                        % else:
                        <li class="important-dates-item">
                            <i class="icon icon-calendar"></i>
                            <p class="important-dates-item-title">${_("End of Registration")}</p>
                            <span class="important-dates-item-text start-date">${registration_datetime_text(course, course.enrollment_end)}</span>
                        </li>
                        % endif
                    % endif
                    % if not course.start_date_is_still_default:
                        <li class="important-dates-item">
                            <i class="icon icon-calendar"></i>
                            <p class="important-dates-item-title">${_("Classes Start")}</p>
                            <span class="important-dates-item-text start-date">${course.start_datetime_text()}</span>
			</li>
                    % endif
                    ## We plan to ditch end_date (which is not stored in course metadata),
                    ## but for backwards compatibility, show about/end_date blob if it exists.
                    % if get_course_about_section(course, "end_date") or course.end:
                        <li class="important-dates-item">
                            <i class="icon icon-calendar"></i>
                            <p class="important-dates-item-title">${_("Classes End")}</p>
                            <span class="important-dates-item-text final-date">
                                % if get_course_about_section(course, "end_date"):
                                    ${get_course_about_section(course, "end_date")}
                                % else:
                                    ${course.end_datetime_text()}
                                % endif
                            </span>
                        </li>
                    % endif
                    % if get_course_about_section(course, "effort"):
                        <li class="important-dates-item">
                            <i class="icon icon-pencil"></i>
                            <p class="important-dates-item-title">${_("Estimated Effort")}</p>
                            <span class="important-dates-item-text effort">${get_course_about_section(course, "effort")} ${_("h/week")}</span>
                        </li>
                    % endif

                    % if get_course_about_section(course, "prerequisites"):
                        <li class="important-dates-item">
                            <i class="icon icon-book"></i>
                            <p class="important-dates-item-title">${_("Prerequisites")}</p>
                            <span class="important-dates-item-text prerequisites">${get_course_about_section(course, "prerequisites")}</span>
                        </li>
                    % endif
                </ol>
            </section>
        </section>

        ## For now, ocw links are the only thing that goes in additional resources
        % if get_course_about_section(course, "ocw_links"):
            <section class="additional-resources">
                <header><h1>${_("Additional Resources")}</h1></header>
                <section>
                    ## "MITOpenCourseware" should *not* be translated
                    <h2 class="opencourseware">MITOpenCourseware</h2>
                    ${get_course_about_section(course, "ocw_links")}
                </section>
            </section>
        % endif

    </section>

</section>

%if not registered:
    <div style="display: none;">
        <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
            <fieldset class="enroll_fieldset">
                <input name="course_id" type="hidden" value="${course.id.to_deprecated_string()}">
                <input name="enrollment_action" type="hidden" value="enroll">
            </fieldset>
            <div class="submit">
                <input name="submit" type="submit" value="enroll">
            </div>
        </form>
    </div>
%endif

<section id="video-modal" class="modal video-modal">
    <div class="inner-wrapper">${get_dmcloud_url(course, get_course_about_section(course, "video"))}</div>
</section>
