/****************************************************************************************************
*   FUN Theming File
*
*   Contains all the theme color definitions for the FUN Open Source MOOC Project
*   Based on the Stanford theme
*
****************************************************************************************************/

// Import edx settings
@import 'neat/neat';
@import 'base/grid-settings';

//-----------------
//  Color variables
//-----------------

//Cardinal Color Variables
$main-color: #3874b9;
$main-color-dark: #0e4586; //Link Color
$main-color-light: #3a76bb; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$main-color-bg: $main-color; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***
$main-color-content-background: #fff;

//Beige Color Variables
$beige: #9d9573;
$beige-60: lighten($beige, 18.5%); //Main Border/HR Color
$beige-25: lighten($beige, 25%);

//Sandstone Color Variables
$sandstone: #ddcf99;
$sandstone-50: lighten($sandstone, 9%);
$sandstone-25: lighten($sandstone, 20%); //Important Heading BG Color

//Gray Color Variables
$gray: #3f3c30; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e6df; //Block/Course BG Color
$gray-2: #f2f1eb;
$gray-1: #fbfbf9; //Main BG Color

$black: #2e2d29;
$black-80: #585754;

//-----------------
//  Font Assignment
//-----------------


$theme-serif-font: 'Arial';
$serif: $theme-serif-font, "Helvetica", sans-serif;
$f-serif: $serif;




//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $main-color-content-background;
$container-bg: $main-color-content-background;
$login-register-bg: $main-color-content-background;
$content-wrapper-bg: $main-color-content-background;
$header-image: none;
$header-bg: transparentize(lighten($sandstone, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($sandstone, 18.5%), .25);
$footer-bg: $main-color-content-background;
$courseware-footer-border: 1px solid $beige-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-2: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-3: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-4: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-5: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-6: linear-gradient($beige-60 0%, $beige-60);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $main-color-dark;
$link-color-d1: $main-color-dark;
$link-hover: $main-color-light;
$site-status-color: $main-color-bg;

$button-color: $main-color;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $main-color-dark;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $main-color-dark;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $sandstone;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $sandstone-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $sandstone-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $beige-60;
$border-color-2: $beige-60;
$border-color-3: $beige-60;
$outer-border-color: $beige-60;

$sidebar-color: $gray-1;

$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $sandstone-25;
$dashboard-profile-color: $gray-3;
$dot-color: $beige-60;

$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $main-color-content-background;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

// ----------------
// Sizes
// ----------------

$content-inner-width: 1170px;
$content-min-width: 980px;
$content-max-width: $content-inner-width;

$header-height: 293px;

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: '../themes/fun/images/pano.jpg';

$login-banner-image: none;
$register-banner-image: none;

$video-thumb-url: '../themes/fun/images/stanford-video-thumb.png';

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    margin-top: 50px;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}

// Slim version (courseware)
body header.global.slim {
    background-color: white;
    nav {
        margin-left: auto;
        margin-right: auto;
    }
    nav:before {
        display: none !important;
    }
    h2 {
        overflow: visible !important;
    }
}


//-----------------
// Header
//-----------------

body header.global {
    background: none repeat scroll 0% 0% $main-color-content-background;
    border-bottom: none;
    box-shadow: none;
    height: 292px;

    h1.logo {
        margin: 0;
    }

    nav {
        width: 980px;
        height: auto;
        text-transform: uppercase;
        color: #fff;
        margin: auto;

        &:before {
            position: absolute;
            top: 162px;
            font-size: 16px;
            z-index: 10;
        }
        &.lang_en:before {
            content: 'Discover, learn and succeed';
        }
        &.lang_fr:before {
            content: 'Découvrir, apprendre et réussir';
        }


        .nav-global {
            position: absolute;
            top: 132px;
            left: 0px;
            width: 100%;
            height: 151px;
            background: url("../themes/fun/images/blue_banner.png") no-repeat scroll center 0px rgb(14, 69, 134);

            .nav-global-outer {
                margin-top: 100px;
                height: 51px;
                width: 100%;
                min-width: $content-min-width;
                background-color: #333333;
            }

            .nav-global-inner {
                height: 100%;
                width: $content-min-width;
                margin: auto;
                position: relative;

                li {
                    height: 51px;
                    float: left;
                }

                li.nav-global-element {
                    width: 180px;
                    text-align: center;
                }

                li.nav-global-separator {
                    width: 20px;
                    background-image: url("../themes/fun/images/menu_separator.png");
                }

                a {
                    color: #fff;
                    height: 51px;
                    line-height: 51px;
                    vertical-align: middle;
                    padding: 0px;
                    font-weight: bold;
                    font-size: 14px;
                    letter-spacing: 0;
                    text-align: center;
                }
            }

            li {
                margin: 0;
            }

            .nav-global-01, .nav-global-02, .nav-global-03,
            .nav-global-04, .nav-global-05, .nav-global-06 {
                display: none;
            }
        }
    }
}


body.view-passwordreset.js {
    nav{
        margin-left:auto;
        margin-right:auto;
    }
}

//-----------------
// Footer
//-----------------

@mixin footer-list {
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        list-style-type: none;
        padding-left: 5px;

        a, a:hover, a:visited {
            height: 33px;
            line-height: 35px;
            border-bottom: none;
        }
    }
}

body .wrapper-footer {
    background-color: $main-color-content-background;
    border-top: none;
    box-shadow: none;

    footer {
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;

        .colophon .nav-colophon {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -15px;
            font-size: 11px;
            font-weight: bold;
            color: #3a76bb;

            li {
                margin-right: 10px;

                a, a:hover, a:visited {
                    color: #3a76bb;
                    font-weight: bold;
                    border-bottom: none;
                }
            }
        }
        .colophon .nav-colophon.nav-colophon2 {
            margin-top: 5px;
        }

        .reference {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: 22px;
            font-size: 12px;
            color: #666;

            a, a:hover, a:visited {
                color: #666;
                border-bottom: none;
            }
        }

        .powered-by {
            position: absolute;
            right: -10px;
            margin-top: -55px;

            @include footer-list;

        }

        .social-networks {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: 5px;

            @include footer-list;

        }
    }
}


//-----------------
// Content
// ----------------

// Login
body.view-login .introduction header {
    height: 140px;

    .illustration {
        float: right;
    }

    h1 {
        width: 630px;
        height: 70px;
        margin-top: 70px;
    }
}

// Register
body.view-register {
    .introduction header {
        position: relative;
        height: 140px;

        h1.title {
            width: 640px;
            left: 0;
            margin: 24px 0;
            span.title-super {
                -webkit-font-smoothing: antialiased;
                color: rgb(14, 69, 134);
                letter-spacing: 1px;
            }
            span.title-sub {
                -webkit-font-smoothing: antialiased;
                color: rgb(88, 87, 84);
                margin: 0;
                font-weight: normal;
                font-size: 19px;
                letter-spacing: 1px;
                text-transform: none;
            }
        }
    }
    .introduction header:after {
        content: url('../themes/fun/images/illustrations/register.jpg');
        float: right;
    }
    ol.list-input {
        clear: both;
        li.field-group {  /* make select fields education level, genre and birth on the same line */
            float: left;
            margin-top: 20px;
        }
    }
    .form-actions {
        clear: both;
    }
    .register .content .instructions {
        display: none;
    }
    #field-country {  /* We want the country form field alone on its line */
        margin-right: 70px;
    }

    div.cta-confidentiality p {
        font-size: 12px !important;
    }
    div.cta-confidentiality ul {
        margin-left: -12px !important;
    }
    div.cta-confidentiality li {
        font-size: 12px !important;
        list-style: none;
        margin-top: 8px;
    }
    div.cta-confidentiality address {
        font-size: 12px !important;
        div.adr {
            text-align: center;
        }
    }

}



// FAQ / Help
body .content-wrapper .help-page {
    width: 980px;
    .illustration {

        float: right;
        margin-top: -20px;
        margin-right: 1px;
    }

    .faq {
        nav.categories {
            position: fixed;
            left: 50%;
            margin-left: 257px;
            top: 423px;
            width: 232px;
        }

        .responses {
            li {
                line-height: 1.6em;
                margin-bottom: 5px;
            }

            h2, p {
                text-align: justify;
            }
        }
    }
}

body .static-container {
    .inner-wrapper {
        width: 980px;
    }

    ul li, ol li {
        line-height: 1.6em;
        margin-bottom: 5px;
    }

    h2, p, li {
        text-align: justify;
    }

    h2 {
        margin-bottom: 30px;
    }

    p + h2, ul + h2, ol + h2 {
        margin-top: 70px;
    }

    table.licenses, table.copyrights-images {
        margin: 40px 0 0;
        font-size: 15px;

        th, td {
            border: 1px solid #ccc;
            text-align: center;
            vertical-align: middle;
            padding: 10px 5px;
        }
    }

    table.licenses {
        td .deeds img {
            padding: 5px;
            height: 30px;
        }

        .column-other {
            width: 130px;
        }

        tbody tr {
            height: 80px;
        }

        .cross {
            color: #e36c0a;
        }
    }

    table.copyrights-images {
        td {
            padding: 10px 20px;
        }
    }

    p.table-legend {
        text-align: right;
        font-style: italic;
        font-size: 13px;
        margin-bottom: 40px;

        a {
            font-style: italic;
        }
    }

}

// Generic body container
body {
    .container, section.outside-app {
        max-width: $content-max-width;
        min-width: $content-min-width;
    }
}

//-----------------
// Controls
//-----------------

body {
    .m-btn-primary, header.global .nav-courseware li .cta, .login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-partial-mktgregister .action.action-register, .view-partial-mktgregister .action.access-courseware {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }
}

//-----------------
// Home
//-----------------

@mixin tagline {
    .main, .secondary {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -350px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        padding: 0 10px;
    }

    .main {
        margin-top: -45px;
        background-color: #f92c30;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
    }

    .secondary {
        margin-top: -5px;
        background-color: #fff;
        color: #f92c30;
        font-size: 16px;
        font-weight: bold;
    }
}

body {
    .home > header {
        background: url("../themes/fun/images/pano.jpg") no-repeat scroll center 0% / cover rgb(233, 230, 223);
        margin-top: 0px;
        border-bottom: none;
        box-shadow: none;
        position: relative;
        height: 381px;

        .outer-wrapper {
            display: none;
        }

        .tagline {
            @include tagline;
        }
    }

    .home .discover {
        margin-top: 15px;
        background: url("../themes/fun/images/bg_discover.jpg") repeat-y scroll center 0px #e7e7e9;
        .fun-button-discover{
            color: white;
        }
        .discover-inner {
            width: $content-max-width;
            margin: 0 auto;
            position: relative;
            padding: 70px 0;

            .course-highlight {
                height: 248px;
                width: 440px;
                position: relative;
                overflow: hidden;

                .course-image {
                    width: 440px;
                }

                .course-begins,
                .course-legend,
                .course-description {
                    position: absolute;
                }

                .course-begins {
                    top: 7px;
                    right: 7px;
                    background-color: #f92c30;
                    font-weight: bold;
                    font-size: 11px;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 6px 5px 4px;
                }

                .course-legend {
                    top: 160px;
                    width: 416px;
                    background-color: #333;
                    color: #fff;
                    height: 15px;
                    font-size: 14px;
                    padding: 10px 12px;
                }

                .course-description {
                    top: 195px;
                    width: 416px;
                    background-color: #fff;
                    height: 72px;
                    font-size: 14px;
                    padding: 4px 12px;
                    color: #333;
                    line-height: 1.3em;

                    a:hover {
                        text-decoration: none;
                    }
                }

                .course-more {
                    position: absolute;
                    bottom: -3px;
                    left: -1px;
                }
            }

            .discover-description {
                width: 470px;
                height: 248px;
                position: absolute;
                top: 70px;
                left: 462px;

                h1 {
                    text-align: left;
                    text-transform: uppercase;
                    color: #3a76bb;
                    font-size: 20px;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 14px;
                    line-height: 1.4em;
                    color: #333;
                }

                a.button {
                    font-weight: bold;
                    font-size: 14px;
                    position: absolute;
                    bottom: 0;
                }
                .button {
                    @extend .m-btn-primary;
                }
            }
        }
    }
}

//-------------------------
// IE / Unsupported browser
//-------------------------

body.view-unsupported-browser {
    h1.logo {
        margin-top: 50px;
    }

    p.unsupported-browser-warning {
        text-align: center;
        margin-top: 70px;
    }
}

//-----------------
// Slider (home)
//-----------------

body .home {
    .highlighted-courses {
        margin: 30px -30px;
        width: $content-max-width;
    }

    .als-container {
        position: relative;
        width: 100%;
        margin: 0px auto;
        z-index: 0;
    }

    .als-viewport {
        position: relative;
        overflow: hidden;
        margin: 0px auto;
    }

    .als-wrapper {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .als-item {
        position: relative;
        display: block;
        text-align: center;
        cursor: pointer;
        float: left;
        min-width: 180px;
        min-height: 110px;
    }

    .als-prev, .als-next {
        position: absolute;
        cursor: pointer;
        clear: both;
        top: 50%;
        margin-top: -13px;
        width: 17px;
    }
    .als-next {
        right: 0;
    }
}


//-----------------
// Courses
//-----------------

body .find-courses {

    .courses-container {
        width: 920px;
        position: relative;
        margin-top: 17px;
        margin-left: auto;
        margin-right: auto;
        .university-filter {
            position: absolute;
            top: 0;
            right: 0;
            font-family: $sans-serif;
            font-size: 13px;
        }
        .courses .course  {
            border-bottom: 1px solid #c4bfab;
        }
        .courses-listing {
            .course {
                header.course-preview {
                    hgroup h2 .course-number {
                        display: none;
                    }
                }

                .info {
                    .desc {
                        font-size: 13px;
                    }

                    .bottom {
                        font-size: 13px;

                        .university {
                            display: inline;
                        }
                    }
                }
            }
            .courses-listing-item-fun {
                // Copied from _homepage.scss with a 4 column-span in huge mode
                $course-card-height: ($baseline*18);

                @include rtl() { $layout-direction: "RTL"; }
                @include fill-parent();
                margin: ($baseline*0.75) 0 ($baseline*1.5) 0;
                max-height: $course-card-height;

                @include media($bp-medium) {
                  @include span-columns(4); // 4 of 8
                  @include omega(2n);
                }

                @include media($bp-large) {
                  @include span-columns(4); // 4 of 12
                  @include omega(3n);
                }

                @include media($bp-huge) {
                  @include span-columns(4); // 4 of 12
                  @include omega(3n);

                    .funstatus {
                        background: none repeat scroll 0 0 #0E4586;
                        border-radius: 2px;
                        color: #FFFFFF;
                        font-size: 10px;
                        left: 10px;
                        padding: 2px 10px;
                        position: absolute;
                        text-transform: uppercase;
                        top: -18px;
                        z-index: 100;
                    }

                    .courses ul {
                        margin : 1.5em 0;
                    }
                }
            }
        }
    }
}


//-----------------
// About course
//-----------------

body .course-info {
    header.course-profile {
        border-bottom: none;
        height: 430px;// required since box-sizing: "border-box"

        .intro-inner-wrapper {
            width: 978px !important;
            .intro .main-cta {
                a.register, .register {
                    width: 623px;
                    font-size: 14px;
                }

                a .register.disabled {
                    width: 100%;
                }

                strong {
                    width: 100%;
                    font-size: 14px;
                }
            }

            .media .hero {
                height: 150px;
                background-color: #fff;
                border: 0;

                img {
                    width: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -55px;
                    margin-left: -85px;
                }
            }

            .course-ended, .register {
                margin-right: auto !important;
                margin-left: auto !important;
                float: none !important;
            }

            .register-license {
                font-size: 10px;
                font-style: italic;
                margin-top: 5px;
                text-align: center;

                a {
                    font-style: italic;
                }
            }
        }
    }

    .course-sidebar {
        .video-header {
            background-color: rgb(14, 69, 134);
            color: #fff;
            font-size: 14px;
            margin-top: -1px;
            padding: 10px 0px;
            margin: -1px 0 0;
            text-align: center;
        }

        .hero {
            position: relative;

            .play-intro {
                @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.65), rgba(0,0,0, 0.75)));
                border-radius: 4px;
                box-shadow: 0 1px 12px 0 rgba(0,0,0, 0.4);
                border: 2px solid rgba(255,255,255, 0.8);
                height: 80px;
                left: 50%;
                margin-top: -40px;
                margin-left: -40px;
                position: absolute;
                top: 50%;
                width: 80px;

                &::after {
                    color: rgba(255,255,255, 0.8);
                    content: "\25B6";
                    display: block;
                    font: normal 2em/1em $sans-serif;
                    left: 50%;
                    margin-left: -11px;
                    margin-top: -16px;
                    position: absolute;
                    text-shadow: 0 -1px rgba(0,0,0, 0.8);
                    top: 50%;
                }
            }

            img {
                display: block;
                width: 100%;
            }
        }
    }

    .details {
        padding-left: 12px;
        nav a {
            font-size: 18px;
            font-weight: bold;
        }

        .inner-wrapper {
            text-align: justify;

            section li {
                line-height: 1.6em;
                margin-bottom: 5px;
            }

            .course-staff .teacher .teacher-image {
                height: auto;
                padding: 0;
                border: 0;

                img {
                    min-height: 0;
                }
            }
        }
    }
}


//-----------------
// About site
//-----------------

body .container.about .vision {
    margin-top: 30px;
    width: 980px;

    .message {
        padding-bottom: 0;
        border-bottom: 0;

        .photo {
            border: none;
            padding: 2px;

            img {
                background-color: #fff;
            }
        }
    }

    .message > article {
        p {
            text-align: justify;
        }

        li {
            line-height: 1.6em;
            margin-bottom: 5px;
        }
    }

    .message.actors > article {
        margin-left: 250px;
    }
}


//-----------------
// Contact form
//-----------------

body .container.contact {
    @extend .login;
    width: 980px;

    & > .illustration {
        float: right;
    }

    section.content {
        margin-top: 50px;

        h2 {
            border-bottom: 1px solid rgb(200, 200, 200);
            padding-bottom: 15px;
        }

        .status.message.submission-error {
            .message-title {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0px;
            }

            .message-copy {
                font-size: 15px;
                margin: 0px 0px 20px;
                color: rgb(46, 45, 41);
                line-height: 1.41575em;

                ul {
                    margin-top: 5px;
                }

                li {
                    list-style: disc;
                    margin-left: 15px;
                }
            }
        }

        .fields {
            margin-top: 30px;

            .field select {
                width: 100%;
                margin: 0px;
                padding: 8px 15px;
            }
        }

        .form-actions button {
            font-weight: bold;
        }

        .form-legend {
            margin-top: 20px;
            font-size: 12px;
        }

        p {
            text-align: justify;
        }
    }
}

body .container.contact-sent {
    @extend .activation !optional;
}


//---------------------
// University directory
//---------------------

body {  /* we may need to affect a class to body to narrow selection */
    section.university-list {
        width: 960px;
        margin: 0 auto;
        text-align: left;
    }
    .university-list header {
        position: relative;
        height: 120px;
        border-bottom: 1px solid rgb(138, 140, 143);

        .illustration {
            float: right;
        }

        h1 {
            position: absolute;
            width: 630px;
            margin-top: 54px;
            text-transform: uppercase;
            color: $main-color-dark;
            text-align: left;
            font-size: 25px;
        }

        h2 {
            top: 90px;
            text-transform: none;
            position: absolute;

        }
    }

    .university-list.container {
        margin-top: 30px;

        li {
            float: left;
            list-style-type: none;
            padding: 0 40px;
            margin-bottom: 20px;

            a {
                padding: 20px;
                line-height: 150px;
                border-bottom: none;
            }
        }
    }

}

body .university-courses {
    .introduction.container {
        width: 980px;
        height: 199px;
        padding: 0;
        background-color:rgba(255,255,255,0.5);
        position: relative;

        header {
            position: absolute;
            height: 100%;
            width: 280px;
            right: 30px;
            top: 0;
            overflow: hidden;
            background-color: rgba(255,255,255,0.8);

            img.logo {
                margin-left: 55px;
                margin-top: 45px;
            }
        }
    }

    .courses-list.container {
        margin-top: 30px;
        width: 980px;
        padding-bottom: 0;

        p {
            font-size: 15px;
            text-align: justify;
        }
    }
}

body .find-courses {
    background-color: $main-color-content-background;
}

//---------------------
// Dashboard
//---------------------

body.view-dashboard {
    .modal h2 span {
        color: rgb(88, 87, 84);
    }
    header.profile h1.user-name {
        background: #3668a1;
        color: #fff !important;  /* out style seems to cascade before dashboard.css */
    }
    section.user-info ul {
        background-color: white !important;
    }
    section.dashboard {
        section.my-courses {
            section.info h3 a { /* registered courses title */
                    font-size: 19px;
                    color: rgb(54, 104, 161);
            }
            section.info h3 span { /* not yet opened registered courses title */
                    font-size: 19px;
            }
            article.course {
                section.details {
                    .course-info {
                        width: flex-grid(7);
                    }
                    .wrapper-course-actions {
                        width: flex-grid(5);
                    }

                    .course-title a {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}


/* Override lms forum rich editor buttons */
/* forum page */
body.discussion {
    .wmd-spacer1 {
      left: 100px;
    }
    .wmd-spacer2 {
      left: 225px;
    }
    .wmd-spacer3 {
      left: 350px;
    }

    .container .discussion-body {  /* Reply to a comment */
        .wmd-button {
          span {
            background-image: url(../themes/fun/highlight/images/wmd-buttons-transparent.png);
          }
        }
    }
    /* Enlarge action button zone in response header to allow french transalation which is wider than english*/
    .discussion-response {
        .response-header-content {
            width: 65%;
        }
        .response-header-actions {
            width: 35%;
        }
    }
    .new-post-body {  /* New comment  */
        .wmd-button > span {
            background-image: url(../themes/fun/highlight/images/new-post-icons-full.png);
        }
    }
    .new-post-article {
        .wmd-button > span {
            background-image: url(../themes/fun/highlight/images/new-post-icons-full.png);
        }
    }

}

/* course embeded forum topic */
.discussion-module {
    .new-post-body {  /* new comment */
        .wmd-spacer1 {
          left: 100px;
        }
        .wmd-spacer2 {
          left: 225px;
        }
        .wmd-spacer3 {
          left: 350px;
        }
        .wmd-button > span {
            background-image: url(../themes/fun/highlight/images/wmd-buttons-transparent.png);
        }
    }
    .wmd-spacer1 {
      left: 100px;
    }
    .wmd-spacer2 {
      left: 225px;
    }
    .wmd-spacer3 {
      left: 350px;
    }
    .wmd-button span { /* reply to a comment */
        background-image: url(../themes/fun/highlight/images/wmd-buttons.png);
    }
}

/* forum special users colors */
.user-label-active {
    font-size: 12px;
    vertical-align: middle;
    border-radius: 2px;
    padding: 0;
    background: #98b3ff;
    font-style: normal;
    text-transform: uppercase;
    color: white;

}
.user-label-recommended {
    font-size: 12px;
    vertical-align: middle;
    border-radius: 2px;
    padding: 0;
    background: #618aff;
    font-style: normal;
    text-transform: uppercase;
    color: white;
}
.user-label-official {
    font-size: 12px;
    vertical-align: middle;
    border-radius: 2px;
    padding: 0;
    background: #0747ff;
    font-style: normal;
    text-transform: uppercase;
    color: white;
}

//---------------------
// tos page
//---------------------
section.tos {
    width: 980px;
    div.inner-wrapper {
        h3 {
            color: black;
            margin-bottom: 20px;
            margin-top: 20px;
            font-size: 17px;
            font-weight: bold;
        }
        p.last-change {
            margin-top: 50px;
            font-size: 15px;
            color: rgb(88, 87, 84);
        }
    }
}

//---------------------
// News
//---------------------
body .featured-articles {
    margin-bottom: 50px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;

    .top-article {
        width: 455px;
        height: 227px;
        float: left;
        position: relative;
        overflow: hidden;

        .article-preview {
            width: 100%;
            position: absolute;
            bottom: 0px;
            background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
            .article-title {
                h2 {
                    color: #FFF;
                }
                padding: 8px;
            }
        }
    }
    .featured-article {
        width: 455px;
        height: 69px;
        margin-left: 465px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $lighter-base-font-color;
        .featured-article-image {
            width: 116px;
            height: 58px;
            float: left;
        }
        .article-title {
            margin-left: 126px;
            a {
                text-decoration: none;
            }
            h2 {
                margin-bottom: 5px;
            }
        }
    }
}

body .recent-articles {
    display: table;
    width: 920px;
    margin-left: auto;
    margin-right: auto;

    .recent-article {
        margin-bottom: 20px;

        .article-content {
            display: table-row;
            .article-preview {
                width: 676px;
                display: table-cell;
                vertical-align: middle;
                .article-title a {
                    text-decoration: none;
                }
                .subtitle {
                    font-style: italic;
                    color: $gray-75;
                }
                .read-more {
                    font-weight: bold;
                }
            }
            .recent-article-image {
                width: 286px;
                height: 147px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

body .news-article {
    width: 920px;
    a:hover {
        text-decoration: none;
    }
    h2 {
        font-weight: bold;
        margin-top: 50px;
        -webkit-font-smoothing: antialiased;
    }
    img {
        margin: 10px;
    }
}

/* fix zindex issue with modal dialog close button on student dashboard.
email reset, name change and language preference use a button, while logout modal use a div */
button.close-modal, div.close-modal {
    z-index: 100 !important;
}

header.global .user a.user-link {
    padding-top: 6px !important;
}

/* Fix teacher dashboard analytics tables font size and cells height. see #1577 */
.profile-distribution-widget, .report-downloads-table, .data-display-table {
    .display-table, .slickgrid {
        font-size: 12px;
        .slick-header-column {
            height: 28px
        }
    }
}
