{% load i18n %}
{% load compressed %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>

<title>{% block title %}{% endblock %}</title>

  {% compressed_css 'style-vendor' %}
  {% compressed_css 'style-app' %}
  {% compressed_css 'style-app-extend1' %}
  {% compressed_css 'style-app-extend2' %}

  {% block main_vendor_js %}
  {% compressed_js 'main_vendor' %}
  {% endblock %}

  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <script type="text/javascript">
    $(function() {

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });
    });
  </script>

</head>

<body class="view-passwordreset">

<header class="global">
  <nav>
    <h1 class="logo">
      <!-- Change theme 'fun' -->
      <a href="{{MKTG_URL_ROOT}}"><img src="/static/themes/fun/images/logo.png"></a>
      <!-- /End change theme 'fun' -->
    </h1>
  </nav>
</header>

<div class="content-wrapper">
  <div class="passwordreset container">
    <section class="introduction">
    {% block introduction %}
    {% endblock %}
    </section>

    {% block content %}
    {% endblock %}
  </div>
</div>

