<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%! from time import strftime %>
<%
    from universities.models import University
    universities = list(University.objects.filter(featured=True))
%>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%doc> The title block is commented because defined elsewhere
<%block name="title"><title>FUN - France Université Numérique</title></%block>
</%doc>

<section class="home">
  <header>
    <div class="outer-wrapper">

    </div>

  <div class="tagline">
    <div class="main">${_("Live the FUN experience")}</div>
    <div class="secondary">
      ${_("Find French university and school courses, where and whenever you want")}
    </div>
  </div>
  </header>

  <section class="container">
    <section class="highlighted-courses">

      <section class="courses-overview">
        <div class="als-container" id="universities-slider">
          <span class="als-prev"><img src="${static.url('themes/fun/images/previous.png')}" alt="previous" title="previous" /></span>
          <div class="als-viewport">
            <ul class="als-wrapper">
              % if universities:
                % for university in universities:
                <li class="als-item">
                  <a href="${ university.get_absolute_url() }">
                    %if university.logo:
                    <img src="${ university.logo.url }" alt="${ university.name }" title="${ university.name }" />
                    %endif
                  </a>
                </li>
                % endfor
              % else:
                ## Dummy element to avoid js error
                <li class="als-item">University</li>
              % endif
            </ul>
          </div>
          <span class="als-next"><img src="${static.url('themes/fun/images/next.png')}" alt="next" title="next" /></span>
        </div>
      </section>
    </section>
  </section>

  <section class="discover">
    <div class="discover-inner">
      <div class="course-highlight">
         <iframe frameborder="0" width="440" height="248" src="//www.dailymotion.com/embed/video/x2e4j6u"></iframe>
      </div>
      <div class="discover-description">
        <h1>${_("Discover the courses on FUN")}</h1>
        <p>${_("All courses present on FUN are designed for students and everyone wishing to learn. Follow these courses interactively and collaboratively, at your rhythm.")}</p>

        <p>${_(u"These courses are designed by French university and school teachers and address varied subjects, such as history, mathematics, health, philosophy, law, technology…")}</p>
        <a class="button fun-button-discover" href="${reverse('fun-courses-index')}">${_("All courses")} +</a>
      </div>
    </div>
  </section>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>

    <script type="text/javascript" src="${static.url('themes/fun/js/vendor/jquery.als-1.2.min.js')}" ></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#universities-slider").als({
          circular: "yes",
          visible_items: 5,
          scrolling_items: 2,
          autoscroll: "yes",
          interval: 5000
        });
      });
    </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
