## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<div class="wrapper-footer">
  <footer>
    <div class="social-networks">
      <ul>
        <li><a href="#"><img src="${static.url('themes/fun/images/facebook.png')}" /></a></li>
        <li><a href="https://twitter.com/universite_num"><img src="${static.url('themes/fun/images/twitter.png')}" /></a></li>
        <li><a href="http://www.dailymotion.com/fr-universite-numerique#video=x15jusx"><img src="${static.url('themes/fun/images/dailymotion.png')}" /></a></li>
      </ul>
    </div>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="/about">À propos de...</a></li>
          <li>|</li>
          <li><a href="/help">Aide</a></li>
          <li>|</li>
          <li><a href="/contact/">Contact</a></li>
          <li>|</li>
          <li><a href="/tos">Conditions Générales d’Utilisation</a></li>
          <li>|</li>
          <li><a href="/honor">Charte utilisateurs</a></li>
          <li>|</li>
          <li><a href="/privacy">Politique de confidentialité</a></li>
        </ol>
      </nav>
    </div>
    <div class="reference">
      <span>&gt; <a href="http://www.france-universite-numerique.fr/">www.france-universite-numerique.fr</a></span>
    </div>
  </footer>
</div>

