## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## Toss the brand bar on top of the page
<%block name="navigation_top">
</%block>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <img src="${static.url('themes/fun/images/logo.png')}" alt="Home Page" />
</%block>

## We don't want extra links inside the navigation dropdown
<%block name="navigation_dropdown_menu_links" />

## When unauthenticated, only show the about page link
<%block name="navigation_global_links">
<li class="nav-global-outer">
  <ul class="nav-global-inner">
    <li class="nav-global-element"><a href="/about">Qu'est-ce que FUN&nbsp;?</a></li>
    <li class="nav-global-separator"></li>
    <li class="nav-global-element"><a href="/courses">Les cours</a></li>
    <li class="nav-global-separator"></li>
    <li class="nav-global-element"><a href="/university/">Les établissements</a></li>
    <li class="nav-global-separator"></li>
    <li class="nav-global-element"><a href="/register">S'inscrire maintenant</a></li>
  </ul>
</li>
</%block>

## When authenticated, show both the about page and find courses
<%block name="navigation_global_links_authenticated">
<li class="nav-global-outer">
  <ul class="nav-global-inner">
    <li class="nav-global-element"><a href="/about">Qu'est-ce que FUN&nbsp;?</a></li>
    <li class="nav-global-separator"></li>
    <li class="nav-global-element"><a href="/courses">Les cours</a></li>
    <li class="nav-global-separator"></li>
    <li class="nav-global-element"><a href="/university/">Les établissements</a></li>
    <li class="nav-global-separator"></li>
    <li class="nav-global-element"><a href="/logout">Se déconnecter</a></li>
  </ul>
</li>
</%block>



