## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="#contact">Contact</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
  </footer>
</div>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="/">
          <img src="${static.url('themes/fun/images/footer-logo@2x.png')}" alt="FUN" width="105" height="49"/>
        </a>
      </div>
      <div id="su-footer-text" class="span10">
        <ul>
          <li class="home"><a href="/">Accueil</a></li>
          <li class="terms alt"><a href="#terms">Conditions d'utilisation</a></li>
        </ul>
        <div class="clear"></div>
        <p class="copyright vcard">&copy; <span class="fn org">FUN</span>, <span class="adr"> <span class="locality">INRIA</span> </span></p>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
